<header class="header">
  <div class="header__container">
    <div class="header__switcher">
      <div class="header__switcher--icons">
        <button class="btn-reset buttonCom">
          <svg class="icon-sunC"  viewBox="0 0 32 32">
            <use xlink:href="img/sprite.svg#icon-sun"></use>
          </svg>
          <svg class="icon-moonC hidden" viewBox="0 0 32 32">
            <use xlink:href="img/sprite.svg#icon-moon"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="container">
      <div class="header__content">
        <div class="header__logo">
          <div class="header__logo--button">
            <svg class="" viewBox="0 0 252 41">
              <use xlink:href="img/sprite.svg#icon-logo"></use>
            </svg>
            <a href="">Contact</a>
          </div>
        </div>
        <div class="textC primary align-center">
          <p>
            We do <span>community growth</span> at early stages.
            Fintech. Gamefi. Nfts.
          </p>
          <p>
            we stay on the cultural edge to draw energy from emerging trends in web3.0.
          </p>
        </div>
      </div>
    </div>
  </div>

</header>
