<div class="sectionHomeToolbox">
  <div class="sectionHomeToolbox__container">

    <div class="sectionHomeToolbox__content">
      <div class="container">
        <div class="subtitleC primary centered">
          OUR TOOLBOX:
        </div>
      </div>
      <div class="blockSlider sectionHomeToolbox-toolbox">
        <div class="container--width--other">
          <div class="sliderC primary sliderC-toolbox sliderC-toolbox-1">
            <div class="sliderC-wrapper sliderC-wrapper-toolbox sliderC-wrapper-toolbox-1">
              <div class="sliderC-wrapper-container">
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text"><3</div>
                  </div>
                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text"><3</div>
                  </div>
                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text"><3</div>
                  </div>
                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text"><3</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sliderC primary sliderC-toolbox sliderC-toolbox-2">
            <div class="sliderC-wrapper sliderC-wrapper-toolbox sliderC-wrapper-toolbox-2">
              <div class="sliderC-wrapper-container">
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text"><3</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                  </div>

                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text"><3</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                  </div>

                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text"><3</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                  </div>

                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text"><3</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                  </div>

                </div>
              </div>

            </div>
          </div>
          <div class="sliderC primary sliderC-toolbox sliderC-toolbox-3">
            <div class="sliderC-wrapper sliderC-wrapper-toolbox sliderC-wrapper-toolbox-3">
              <div class="sliderC-wrapper-container">
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text"><3</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text"><3</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text"><3</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <div class="itemCom__text--infinite" style="max-width: 310px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          TikTok Marketing
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">Ads</div>
                    <div class="itemCom__text">Communication strategy</div>
                    <div class="itemCom__text--infinite" style="max-width: 400px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Go-to-market strategy
                        </div>
                      </div>
                    </div>
                    <div class="itemCom__text">User acquisition</div>
                    <div class="itemCom__text">Discord Setup</div>
                    <div class="itemCom__text">Influences</div>
                    <div class="itemCom__text">Twitter Management</div>
                    <div class="itemCom__text">Community growth</div>
                    <div class="itemCom__text">Community management</div>
                    <div class="itemCom__text">Website Creation</div>
                    <div class="itemCom__text"><3</div>
                    <div class="itemCom__text--infinite" style="max-width: 347px;">
                      <div class=" marquee-container">
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                        <div class="marquee" style="--duration: 2s;">
                          Referral campaigns
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
