<div class="sectionHomeHero">
  <div class="sectionHomeHero__container">
    <div class="container">
      <div class="sectionHomeHero__content">
        <div class="sectionHomeHero__text">
          <p>we stream in</p>
          <div class="sectionHomeHero__text--cont">
            <svg class="" viewBox="0 0 37 26">
              <use xlink:href="img/sprite.svg#icon-twitter"></use>
            </svg>
            <a class="linkC primary" href="#">
              twitter
            </a>
          </div>
        </div>
        <div class="sectionHomeHero__frame">
          <div class="sectionHomeHero__frame--white">
            <blockquote class="twitter-tweet" data-theme="light"><p lang="qst" dir="ltr">X</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1664627982638407687?ref_src=twsrc%5Etfw">June 2, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="sectionHomeHero__frame--black hidden">
            <blockquote class="twitter-tweet" data-theme="dark"><p lang="qst" dir="ltr">X</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1664627982638407687?ref_src=twsrc%5Etfw">June 2, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
