<div class="sectionHomePeople">
  <div class="sectionHomePeople__container">

    <div class="sectionHomePeople__content">
      <div class="container">
        <div class="textC primary">
          <p>
            WE ARE <span>INTERNET-NATIVES</span> WHO MATURED IN BOTH CORPORATE AND FAST GROWING BUSINESS ENVIRONMENTS
            WITH ONGOING EDUCATION FROM GROWTH LEADERS AND REFORGE MENTORS.
          </p>
        </div>
      </div>
      <div class="blockSlider blockSlider-people">
        <div class="container--width--other">
          <div class="sliderC primary sliderC-people">
            <div class="sliderC-wrapper sliderC-wrapper-people">
              <div class="sliderC-wrapper-container">
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <button class="btn-reset buttonCom">
                      <span class="buttonCom__name">Eugene, serf</span>
                      <span class="buttonCom__icon">&nbsp;🔄</span>
                    </button>
                    <div class="itemCom__animation">
                      <div class="itemCom__animation--front">
                        <span class="itemCom__animation--front--image">
                          <img src="./img/svg/image-people-1.svg" alt="client logo" class="itemCom__image">
                        </span>
                      </div>
                      <div class="itemCom__animation--back">
                        <span class="itemCom__animation--back--image">
                          <img src="./img/svg/image-people-1.svg" alt="client logo" class="itemCom__image">
                        </span>
                        <div class="itemCom__info">
                          just a virtual serf
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <button class="btn-reset buttonCom">
                      <span class="buttonCom__name">Olga, boss beauty</span>
                      <span class="buttonCom__icon">&nbsp;🔄</span>
                    </button>
                    <div class="itemCom__animation">
                      <div class="itemCom__animation--front">
                        <span class="itemCom__animation--front--image">
                          <img src="./img/svg/image-people-2.svg" alt="client logo" class="itemCom__image">
                        </span>
                      </div>
                      <div class="itemCom__animation--back">
                        <span class="itemCom__animation--back--image">
                          <img src="./img/svg/image-people-2.svg" alt="client logo" class="itemCom__image">
                        </span>
                        <div class="itemCom__info">
                          Just the boss
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sliderC-slide">
                  <div class="itemCom">
                    <button class="btn-reset buttonCom">
                      <span class="buttonCom__name">Michael, no mercy</span>
                      <span class="buttonCom__icon">&nbsp;🔄</span>
                    </button>
                    <div class="itemCom__animation">
                      <div class="itemCom__animation--front">
                        <span class="itemCom__animation--front--image">
                          <img src="./img/svg/image-people-3.svg" alt="client logo" class="itemCom__image">
                        </span>
                      </div>
                      <div class="itemCom__animation--back">
                        <span class="itemCom__animation--back--image">
                          <img src="./img/svg/image-people-3.svg" alt="client logo" class="itemCom__image">
                        </span>
                        <div class="itemCom__info">
                          Neurotransmitter
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
