
<div class="sectionHomeNoScroll">
  <div class="sectionHomeNoScroll__texts">
    <div class="sectionHomeNoScroll__texts--container">
      <div class="textCom text-1">please no scroll below</div>
      <div class="textCom text-2 hidden">still scrolling, ha?</div>
      <div class="textCom text-3 hidden">oh, all right…</div>
      <div class="textCom text-4 hidden">🙂🙂</div>
      <div class="textCom text-5 hidden">and those who seek will find…</div>
    </div>
  </div>
  <div class="sectionHomeNoScroll__container">
    <div class="triggerCom triggerCom--1"></div>
    <div class="triggerCom triggerCom--2"></div>
    <div class="triggerCom triggerCom--3"></div>
    <div class="triggerCom triggerCom--4"></div>
    <div class="triggerCom triggerCom--5"></div>
    <div class="triggerCom triggerCom--6"></div>
    <div class="decorC primary decorC--1">
      <img src="./img/svg/image-decor-1.svg" alt="">
    </div>
    <div class="decorC primary decorC--2">
      <img src="./img/svg/image-decor-2.svg" alt="">
    </div>
    <div class="decorC primary decorC--3">
      <img src="./img/svg/image-decor-3.svg" alt="">
    </div>
    <div class="decorC primary decorC--4">
      <img src="./img/svg/image-decor-4.svg" alt="">
    </div>
    <div class="decorC primary decorC--5">
      <img src="./img/svg/image-decor-5.svg" alt="">
    </div>
    <div class="decorC primary decorC--6">
      <img src="./img/svg/image-decor-1.svg" alt="">
    </div>
    <div class="itemCom">
      <div class="itemCom__animation">
        <img src="./img/svg/icon-footer.svg" alt="">
      </div>
      <a href="#" class="itemCom__link">
        Join secret Web3.o builders <span>community</span>
      </a>
    </div>
  </div>
</div>
