<div class="sectionHomeClients">
  <div class="sectionHomeClients__container">

    <div class="sectionHomeClients__content">
      <div class="container">
        <div class="textC primary">
          <p>
            we work with top B2C start-ups in Fintech, Crypto, NFT, Gaming and Wellness:
          </p>
        </div>
      </div>
      <div class="blockSlider blockSlider-clients">
        <div class="container--width--other">
          <div class="sliderC primary sliderC-clients">
            <div class="sliderC-wrapper sliderC-wrapper-clients">
              <div class="sliderC-wrapper-container">
                <div class="sliderC-slide">
                  <a href="#" target="_blank" class="itemCom">
                    <span class="itemCom__animation">
                      <img src="./img/svg/logo-client-1.svg" alt="client logo" class="itemCom__image">
                    </span>
                    <span class="linkC primary itemCom__link">
                      mubert
                    </span>
                  </a>
                </div>
                <div class="sliderC-slide">
                  <a href="#" target="_blank" class="itemCom">
                    <span class="itemCom__animation">
                      <img src="./img/svg/logo-client-2.svg" alt="client logo" class="itemCom__image">
                    </span>
                    <span class="linkC primary itemCom__link">
                      mummy.io
                    </span>
                  </a>
                </div>
                <div class="sliderC-slide">
                  <a href="#" target="_blank" class="itemCom">
                    <span class="itemCom__animation">
                      <img src="./img/svg/logo-client-3.svg" alt="client logo" class="itemCom__image">
                    </span>
                    <span class="linkC primary itemCom__link">
                      qoooooore
                    </span>
                  </a>
                </div>
                <div class="sliderC-slide">
                  <a href="#" target="_blank" class="itemCom">
                    <span class="itemCom__animation">
                      <img src="./img/svg/logo-client-4.svg" alt="client logo" class="itemCom__image">
                    </span>
                    <span class="linkC primary itemCom__link">
                      moonly.app
                    </span>
                  </a>
                </div>
                <div class="sliderC-slide">
                  <a href="#" target="_blank" class="itemCom">
                    <span class="itemCom__animation">
                      <img src="./img/svg/logo-client-5.svg" alt="client logo" class="itemCom__image">
                    </span>
                    <span class="linkC primary itemCom__link">
                      zelf.co
                    </span>
                  </a>
                </div>
                <div class="sliderC-slide">
                  <a href="#" target="_blank" class="itemCom">
                    <span class="itemCom__animation">
                      <img src="./img/svg/logo-client-6.svg" alt="client logo" class="itemCom__image">
                    </span>
                    <span class="linkC primary itemCom__link">
                      donut lab
                    </span>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
