<div class="sectionHomePartners">
  <div class="sectionHomePartners__container">
    <div class="container">
      <div class="sectionHomePartners__content">
        <div class="subtitleC primary centered">
          our Partners:
        </div>
        <div class="blockSlider blockSlider-partners">
          <div class="swiper swiper-partners">
            <div class="swiper-wrapper">
               <div class="swiper-slide">

               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
